[submodule "examples/core-semantics/ghc-core-smallstep"]
	path = examples/core-semantics/ghc-core-smallstep
	url = https://github.com/nomeata/ghc-core-smallstep

[submodule "examples/containers/containers"]
	path = examples/containers/containers
	url = https://github.com/haskell/containers/

[submodule "examples/ghc/ghc"]
	path = examples/ghc/ghc
	url = https://gitlab.haskell.org/ghc/ghc.git
[submodule "doc/_themes/sphinx_rtd_theme"]
	path = doc/_themes/sphinx_rtd_theme
	url = https://github.com/rtfd/sphinx_rtd_theme
	ignore = dirty
[submodule "functional-shuffle"]
	path = examples/shuffle/functional-shuffle
	url = https://github.com/antalsz/functional-shuffle
[submodule "MonadRandom"]
	path = examples/shuffle/MonadRandom
	url = https://github.com/byorgey/MonadRandom.git
[submodule "random"]
	path = examples/shuffle/random
	url = https://github.com/haskell/random.git
[submodule "examples/wc/wc"]
	path = examples/wc/wc
	url = https://github.com/ChrisPenner/wc.git
