# Stack
.stack-work

# cabal
dist-newstyle
dist
cabal.project.local
.ghc.environment.*
/hs-to-coq

# Coq
*.vo
*.glob
.*.aux
*.v.d
Makefile.coq.conf
Makefile.bak
Makefile.conf
.lia.cache

# Haskell
*.o
*.hi

# emacs autosaves
\#*
.\#*

# Scratch work files
Test*
test*
Example.hs
example.v
