# Stack
.stack-work

# Coq
*.vo
*.glob
.*.aux
*.v.d

# emacs autosaves
\#*
.\#*

# generated test cases
examples/ghc-base/*/*.v
examples/ghc-base/_CoqProject
examples/ghc-base/Makefile.coq

# Scratch work files
Test.hs
test.v
Example.hs
example.v
